*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(6, 1, 36);
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
}

.nav{
    position: fixed;
    display: flex;
    text-align: center;
    background-color: rgb(6, 1, 36);
    border-bottom: 0.1px solid white;
    height: 10%;
    width: 100%;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotifylogo{
    font-size: 2.9rem;
    color: #1DB954;
    background-color: black;
    border-radius: 100%;
}

#profile-img{
    width: 7%; 
    border-radius: 100%;
}

.tab{
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    gap: 4rem;
    align-items: center;
    color: white;
}


.head{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.hack{
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    padding-right: 1rem;
    gap: 3rem;
    align-items: center;
    width: 50%;
}

.search{
    display: flex;
    font-size: 1rem;
}

input{
    background-color: rgb(84, 152, 179);
    font-size: 1rem;
    text-align: center;
}

#icon{
    width: 12rem;
}

.mag{
    padding: 5px;
    color: white;
    background-color: rgb(84, 152, 179);
    
}
.mag:hover{
    cursor: pointer;
}
.mic{
    padding: 5px;
    color: white;
    background-color: rgb(84, 152, 179);
}
.mic:hover{
    cursor: pointer;
}

.bellicon{
    font-size: 1.5rem;
}
.bellicon:hover{
    font-size: 1.6rem;
    cursor: pointer;
}

.hero-section{
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    width: 97%;
    height: 100%;
}

.left-div{
    position: absolute;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    width: 63%;
    height: 89%;
    margin-top: 5.5%;
}

.trend{
    height: 60%;
}
.trend img{
    width: 125%;
    border-radius: 10px;
}
.trending img:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

.trending{
    margin-top: 5%;
    display: flex;
    gap: 4.5rem;
}

.heading{
    color: white;
    margin-top: 4%;
}

.latest-release{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.latest-release img{
    height: 20%;
    width: 20%;
    border-radius: 5px;
}

.latest-release-left{
    width: 50%;
    overflow: none;
}
.latest-release-left ul li{
    color: white;
    display: flex;
    align-items: center;
    padding-top: 5%;
}
.latest-release-left ul li h2{
    width: 20%;
    margin-left: 3%;
}
.latest-release-left ul li i{
    margin-left: 40%;
}

.latest-release-right{
    width: 50%;
    overflow: none;
}
.latest-release-right ul li{
    color: white;
    display: flex;
    align-items: center;
    padding-top: 5%;
}
.latest-release-right ul li h2{
    width: 20%;
    margin-left: 3%;
}
.latest-release-right ul li i{
    margin-left: 40%;
}

.btn{
    position: absolute;
}

.popular-artist{
    position: relative;
    display: flex;
    width: 100%;
}

.popular-artist ul{
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    gap: 1%;
}
 
.popular-artist ul li h4{
    color: white;
    justify-content: center;
    align-items: center;
}
.popular-artist ul li img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid white;
}

.latest-english{
    display: flex;
    min-width: 100%;
}
.latest-english ul{
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    gap: 2%;
}
.latest-english ul li img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
}
.latest-english ul li h4{
    color: white;
    justify-content: center;
    align-items: center;
}

.latest-hindi{
    display: flex;
    min-width: 100%;
}
.latest-hindi ul{
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    gap: 2%;
}
.latest-hindi ul li img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
}
.latest-hindi ul li h4{
    color: white;
    justify-content: center;
    align-items: center;
}

.right-div{
    position: absolute;
    width: 35%;
    height: 88%;
    margin-top: 6%;
    margin-left: 63%;
}

.queue{
    overflow-y: scroll;
    margin-top: 0.5%;
    height: 100%;
    border-left: 1px solid white;
}

.queue-head{
    position: fixed;
    top: 10%;
    width: 35%;
    height: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.queue-head h1{
    padding-left: 2%;
}
.queue-head h4{
    color: aqua;
    padding-right: 8%;
}
.queue-head h4:hover{
    cursor: pointer;
}

.list{
    /* border-left: 1px solid white; */
    width: 100%;
    height: 100%;
    margin-top: 12%;
}

.list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-top: 20px;
    color: white;
    z-index:0;   
}
.list ul li i:hover{
    cursor: pointer;
}
.list ul li img{
    margin-left: 0%;
    height: 15%;
    width: 15%;
    border-radius: 5px;
}
li h4{
    display: flex;
    justify-content: space-between;
    width: 9rem;
    padding-left: 1%;
}
li i{
    margin-right: 8%;
}




